body {
  background-color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.lots {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 180px 24px 0px 24px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  padding: 120px 24px 180px 24px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 50px 82px 50px;
}

.header__links-list {
  display: flex;
  gap: 13px;
}

.header__links-list-item {
  list-style: circle;
  list-style-position: inside;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.website-link {
  font-weight: normal;
  font-size: 18px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
}

.website-link_active {
  text-decoration: none;
}

.header__logo {
  display: inline-block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: normal;
  font-size: 18px;
  font-style: normal;
  line-height: 140%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

.contact-information {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  font-weight: bold;
  font-size: 100px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-word {
  z-index: 1;
}

.cover__title-word_left {
  align-self: start;
}

.cover__title-word_center {
  align-self: center;
  margin-right: -0.3em;
}

.cover__title-word_right {
  align-self: end;
  margin-right: -0.3em;
}

.description {
  display: flex;
  justify-content: space-between;
}

.description__text {
  z-index: 1;
  align-self: center;
  color: white;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 0.85em;
}

.bet-button {
  z-index: 1;
  display: flex;
  border: solid white 1px;
  padding: 12px 32px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.lots__list-item {
  width: 334px;
  min-height: 596px;
}

.lot-type_movie {
  background-image: url(../images/card-lot-01.jpg);
}

.lot-type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.lot-type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lot-link {
  height: 100%;
  color: white;
}

.lot {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.lot__name {
  z-index: 1;
  font-weight: bold;
  font-size: 22px;
  line-height: 125%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
  text-transform: uppercase;
}

.lot__description {
  z-index: 1;
  font-weight: normal;
  font-size: 20px;
}

.lots__title {
  justify-self: start;
  align-self: start;
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__show-more {
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2em;
}

.about__section-logo {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 15px;
  border-radius: 50%;
  background-color: black;
}

.about__section-logo-image {
  width: 62%;
  height: 48%;
}

.about__auction {
  margin-top: 116px;
  margin-left: 25px;
}

.about__auction-title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__auction-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-weight: normal;
  font-size: 20px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  width: 48px;
}

.footer__social-icon {
  height: 48px;
}
